@font-face {
    font-family: montserrat;
    src: url(../public/fonts/montserrat.ttf);
}

@font-face {
    font-family: seven-segment;
    src: url(../public/fonts/seven_segment.ttf);
}

body {
    margin: 0;
    font-family: montserrat;
    background-color: #171222;
}

.widgetContainer {
    width: calc(100% - 50px);
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 26, 46);
    width: 280px;
    height: 100vh;
    transform: translateX(0);
}

@keyframes sideBarCollapse {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes sideBarExpand {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}


.sideBarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color ease 0.25s;
    height: 50px;
    margin-bottom: 5px;
    width: 90%;
}


.sideBarItem:hover {
    background-color: rgb(120, 94, 160);
}
.selected, .selected:hover{
    background-color: rgb(61, 46, 83);
}

.sideBarItem span {
    font-size: 15px;
    color: #D9D9D9;
    position: relative;
    font-weight: 500;
}

.sideBarItem img {
    margin-right: 10px;
    width: 35px;
    margin-left: -3px;
}

.sideBarItemDiv {
    background-color: #2B2B2B;
    width: 300px;
    height: 6px;
    width: 94%;
    margin-left: 3%;
    border-radius: 2px;
}

.sideBarAccount {
    position: fixed;
    bottom: 0;
    width: 280px;
    height: 100px;
    background-color: rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
}

.sideBarAccountInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 97px;
    bottom: 60px;
}

.sideBarAccountName {
    color: #D9D9D9;
    font-size: 30px;
    font-weight: bold;
}

.sideBarAccountLink {
    color: #555555;
    font-size: 25px;
    text-decoration: underline;
}

.sideBarAccountAvatar {
    width: 70px;
    position: relative;
    top: 15px;
    left: 10px;
    border-radius: 1000px;
    border: 2px solid #D9D9D9;
}

.pageTitle {
    float: right;
    margin: 30px;
    position: relative;
    bottom: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pageTitle span {
    color: #d9d9d9;
    font-size: 40px;
    font-weight: bold;
}

.pageTitle img {
    width: 50px;
    margin-left: 15px;
    margin-right: -15px;
}

.widgetContent * {
    margin: 10px;
}

.dashboardTimeDisplay {
    font-family: seven-segment;
}